<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>



<section class="header">

        <nav>
            <h1 class="nome-site">Remory</h1>

        </nav>




    </section>
    <div class="container">
        <h1>Seus Pacientes</h1>
        <a class = "btn" href="{{ url_for('form') }}">Cadastrar Novo Paciente</a>
        <ul class="lista_pacientes">
            {% for paciente in pacientes %}
            <li><a href="{{ url_for('detalhes_pacientes', id=paciente.id) }}">
                ({{ paciente.nome }})
            </a>
                <span class="data_nasc"> {{ paciente.data_nasc.strftime('%d/%m/%Y') }}</span>
            </li>
            {% endfor %}
        </ul>
        <a class= "btn logout" href="{{ url_for('logout') }}">Sair</a>
    </div>
</body>
</html>